@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: rgb(126, 126, 125);
    background-image: url("/static/images/bg-signup.jpg");
    background-size: cover;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
strong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 20%;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 3.5rem;
}
button {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    color: #fff;
    background-color: #64a19d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}